body{
	background-color: #ffffff;
}

header{
	text-align: center;

}


a:link{
	color: #db2c42;
}

a:hover{
	color: #cecece;
}

a:active{
	color: #ffffff;
}

a:visited{
	color: #db2c42;
}

.main_nav ul{
	border-radius: 5px;
	border: 1px solid #cecece;
	width: 80%;
	margin: 0 auto;
	padding:0;
	border-bottom: 0px;
}
.main_nav li{
	list-style: none;
	border-bottom: 1px solid #cecece;
	color: red;
	text-align: center;
	padding: 10px;

}

.main_nav a{
	text-decoration: none;
}

.main_nav a:link{
	color: #db2c42;
}

.main_nav a:hover{
	color: #cecece;
}

.main_nav a:active{
	color: #ffffff;
}

.main_nav a:visited{
	color: #db2c42;
}

.main_nav li:last-child{
	margin-bottom: 20px;
} 

.search{
	background-color: #edeced;
	padding: 10px;
	/*margin: 0 auto;*/
	margin-bottom: 20px;
	/*width: 80%;*/
	
}

.search input{
	margin-bottom: 10px;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*width: 80%;*/
}

 .search button{
	width: 100%;
	background-color: #db2c42;
	padding: 10px;
	color: white;
	border-radius: 5px;
	border: none;
	margin-top: 10px;

}

.membership{
	border-top: 1px solid #cecece;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
	border-bottom: 1px solid #cecece;
}

.membership h2{
	padding-top: 20px;
	
}

.membership h4{
	color: #9c9a9b;
}

.membership ul{
	padding-left: 10px;
}
.wrapper{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	

}
.wrapper label{
	display: block;
	text-align: center;
}
.form input[type=text]{
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	padding: 5px;
	text-align: center;

}


form{
	background-color: #edeced;
	padding: 10px;
}

.descriptors h2{
	text-align: center;
}

.descriptors ul{
	background-color: #ffffff;
	margin: 0 auto;
	list-style: none;
	text-align: left;

}



.descriptors .nest ul{
	list-style-type: disc;
	text-align: left;
}

.descriptors .nest li{
	list-style: disc;

}


.level{
	text-align: right;
	display: block;
	font-size: smaller;
}

.level h3{
	text-align: center;
}


.level label{
	display: inline-block;
	text-align: left;
	padding: 5px;
}

.level input{
	float: left;
}

.additional h3{
	text-align: center;
}

.additional {
	text-align: center;
}

.additional label{
	display: inline-block;
	padding: 5px;
}

.additional input{
	float: left;

}

.additional button{
	width: 100%;
	background-color: #db2c42;
	padding: 10px;
	color: white;
	border-radius: 5px;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: 1px solid #cecece;
	margin-top: 20px;
}

.secondary_nav{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	border-top: 1px solid #cecece;
}
.secondary_nav ul{
	border-radius: 5px;
	border: 1px solid #cecece;
	border-bottom: none;
	width: 100%;
	margin: 0 auto;
	padding:0;
}
.secondary_nav li{
	list-style: none;
	border-bottom: 1px solid #cecece;
	color: red;
	text-align: center;
	padding: 10px;
	width: 92%;

}

.secondary_nav a{
	text-decoration: none;
}

.secondary_nav a:link{
	color: #db2c42;
}

.secondary_nav a:hover{
	color: #cecece;
}

.secondary_nav a:active{
	color: #ffffff;
}

.secondary_nav a:visited{
	color: #db2c42;
}


footer{
	background-color: #333333
}

blockquote{
	color: #fdfdfd;
	text-align: center;
	padding-top: 20px;
}

.bottom ul{
	list-style: none;
	
	margin: 0;
	padding: 0;
	text-align: center
}

.bottom li{
	list-style: none;
	display: inline;
}

.bottom a:link{
	color: #59c1e0;
}

.bottom a:hover{
	color: #ffffff;
}

.bottom a:active{
	color: #ffffff;
}

.bottom a:visited{
	color: #59c1e0;
}


@media screen and (min-width: 660px){
	
	.wrapper form{
		text-align: left;
	}

	

	.column{
	display: inline-block;
    width: 47%;
    padding: 1%;
    vertical-align: top;
    text-align: left;
	}	

	.descriptors ul{
		
		text-align: left;

	}

	.search{
		
	}

	.search input [type=text]{
		display: inline-block;
		width: 60%;
		margin: 0;
	}

	.search button{
		display: inline-block;
		width: 30%;

	}

	.descriptors h3{
		text-align: center;
	}

	.level label{
		display: block;
	}

	.level input{
		display: block;
	}

	.additional label{
		display: block;
	}

	.additional input{
		display: block;
	}


	.secondary_nav ul{
		border: none;
	}

	.secondary_nav li{
		border: none;
	}

	.column2{
	display: inline-block;
    width: 30%;
    padding: 1.2%;
    vertical-align: top;
    text-align: center;
	}

	.column2 a{
		text-decoration: underline;
	}

	.bottom blockquote{
		display: block;

	}

}

@media screen and (min-width: 840px){
	header{
		text-align: left;
	}

	.main_nav ul{
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
		border: 1px solid #cecece;
	}

	.main_nav li{
		display: inline-block;
		border: none;
		padding-bottom: 0;
	}

	.search{
		position: absolute;
		top:0;
		right:0;
		background-color: #ffffff;
	}

	.membership{
		border-top: 0;
	}

	.inner{
		background-color: #edeced;
	}

	.additional button{
		background-color: #60dbff;
	}



}